@model IEnumerable<Web.ViewModels.DietPlan>

@{
    ViewData["Title"] = "DietPlans";
}

<p>
    <a asp-action="CreateNew" asp-route-creatorId="5" asp-route-creatorName="Banana">Create Diet Plan</a>
</p>
<div id="myBody">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Information
                </th>
                <th>
                    CreatorName
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="dietplan in result.data">
                <td>{{ dietplan.id }}</td>
                <td>{{ dietplan.name }}</td>
                <td>{{ dietplan.information }}</td>
                <td>{{ dietplan.creatorName }}</td>
                <td>
                    <a :href="'/DietPlan/Edit/' + dietplan.id">Edit</a>
                    | <a :href="'/DietPlan/Details/' + dietplan.id">Details</a>
                    | <a :href="'/DietPlan/Remove/' + dietplan.id">Remove</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    var myVue = new Vue(
        {
            el: "#myBody",
            data: {
                result: []
            },
            created: function () {
                window.axios.get('/DietPlan/GetAllDietPlans')
                    .then(result => { myVue.result = result; })
                    .catch(error => {
                        myVue.result = "Error loading dietplans";
                        console.log(error);
                    });
            }
        }
    );
</script>