@model Web.ViewModels.Person

@{
    ViewData["Title"] = "Edit";
}

<!DOCTYPE html>

<html>
<body>

<h4>Person</h4>
<hr />
<div id="myElement" class="row">
    <div class="col-md-4">
        <div>
            <div class="form-group">
                <label class="control-label">Id</label>
                <input type="text" v-model="result.data.id" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label class="control-label">Name</label>
                <input type="text" v-model="result.data.name" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input type="text" v-model="result.data.email" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input type="password" v-model="result.data.password" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Sex</label>
                <input type="text" v-model="result.data.sex" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Age</label>
                <input type="text" v-model="result.data.age" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Profile</label>
                <input type="text" v-model="result.data.profile" class="form-control" />
            </div>
            <div class="form-group">
                <button @@click="edit">Save</button>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    var personId = '@Model.Id';

    var myVue = new Vue(
        {
            el: "#myElement",
            data: {
                personId: personId,
                result: []
            },
            methods: {
                edit: function () {
                    var person = {
                        Id: myVue.result.data.id,
                        Name: myVue.result.data.name,
                        Email: myVue.result.data.email,
                        Password: myVue.result.data.password,
                        Sex: myVue.result.data.sex,
                        Age: myVue.result.data.age,
                        Profile: myVue.result.data.profile
                    };
                    window.axios.put('/Person/Update', person)
                        .then(response => {
                            alert("Successfully saved!");
                        })
                        .catch(error => {
                            console.log(error);
                            alert("Error while updating...");
                        });
                }
            },
            created: function () {
                window.axios.get('/Person/GetPersonById/5')
                    .then(response => { myVue.result = response; })
                    .catch(error => {
                        myVue.result = "Error loading student info";
                        console.log(error);
                    });
            }
        }
    );
</script>
</body>
</html>
