@model Web.ViewModels.Person

@{
    ViewData["Title"] = "Person";
}

<div id="myBody">
    <h2>Person</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id
        </dt>
        <dd>
            {{PersonId}}
        </dd>
        <dt>
            Name
        </dt>
        <dd>
            {{result.data.name}}
        </dd>
        <dt>
            Email
        </dt>
        <dd>
            {{result.data.email}}
        </dd>
        <dt>
            Sex
        </dt>
        <dd>
            {{result.data.sex}}
        </dd>
        <dt>
            Age
        </dt>
        <dd>
            {{result.data.age}}
        </dd>
        <dt>
            Profile
        </dt>
        <dd>
            {{result.data.profile}}
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
</div>

<script>
    var myVue = new Vue(
        {
            el: "#myBody",
            data: {
                PersonId: @Model.Id,
                result: []
            },
            created: function () {
                window.axios.get('/Person/GetPersonById/5')
                    .then(response => {
                        myVue.result = response;
                    })
                    .catch(error => {
                        myVue.result = "Error loading students";
                        console.log(error);
                    });
            }
        }
    );
</script>
